
<h1>Pagina di Prova</h1>
<p>Questa è soltanto una prova!</p>

@{ var theMonth = DateTime.Now.Month; }
<p>Valore numerico del mese corrente: @theMonth</p>


@{ var myQuote = @"Il mio libro preferito è: ""ASP.NET Core"""; }

<p>@myQuote</p>


